.filmContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.characterInfo {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.loading {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; 
  height: 40px;
  border: 4px solid transparent;
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 1s infinite linear; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
